page-register {
ol {
	float: left;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

ol li {
	float: left;
	width: 100%;
	list-style: none;
	padding: 4px 0;
}

ol li input {
	float: left;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}

ol li input.entrar {
	background-color: #000;
	color: #fff;
	border: 0;
	text-align: center;
}

}

button.entrar {
	background-color: #000;
	color: #fff;
	border: 0;
	text-align: center;
	float: left;
	width: 100%;
	padding: 10px 0;
}

ion-datetime.datetime{
    border: 1px solid #ccc;
    padding: 10px;
}

.datetime-md .datetime-placeholder, .datetime-ios .datetime-placeholder{
	color:#757575!important;
}

ion-datetime{
	position:relative!important;
}

.toolbar-title-ios {
	color: #fff;
}

.toolbar-title {
	color: #fff;
	text-align: center;
}